<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login</title>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form action="/api/user/signin" method="post" id="loginForm">
            <div class="form-group">
              <label for="username">Email Address:</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email Address" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="button" class="btn btn-primary" onclick="handleLogin()">Login</button>
            <p class="mt-3">
                Forgot password? <a href="/api/user/reset-password">Reset Password</a>
              </p>
          </form>
          <p class="mt-3">
            Don't have an account? <a href="/api/user/signup">Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap JavaScript components) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Add this script to handle redirection after successful login -->
<script>
  async function handleLogin() {
    // Submit the form
    document.getElementById('loginForm').submit();
  }

  // Add this function to handle redirection after successful login
  function handleSuccessfulLogin() {
    const queryParams = new URLSearchParams(window.location.search);
    const username = queryParams.get('username');

    if (username) {
      // Update the greeting with the username
      document.getElementById('greeting').innerText = `Hello: ${username}`;
    }
  }

  // Call handleSuccessfulLogin on page load
  document.addEventListener('DOMContentLoaded', handleSuccessfulLogin);
</script>


</body>
</html>
